<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
    </style>

</head>

<body class="" onload="setWs()">
  <div class="wrapper ">
    <%- include("../partials/sidebar") %>
      <div class="main-panel">
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="title">
                    <span class="compass-icon">&#x21BB;</span> Weather Cards
                  </div>
                </div>
              </div>

              <!-- Display the weather cards -->
              <div class="weather-wrapper">
                <% for (const weather of weatherData) { %>
                  <div class="weather-card">
                    <!-- Animate weather icon based on temperature and description -->
                    <% if (weather.temperature>= 25) { %>
                      <div class="weather-icon sun"></div>
                      <% } else if (weather.description.includes('cloud')) { %>
                        <div class="weather-icon cloud"></div>
                        <% } else if (weather.description.includes('rain')) { %>
                          <div class="weather-icon rain"></div>
                          <% } else { %>
                            <div class="weather-icon clear-sky"></div>
                            <% } %>
                              <h1 style="font-size: 65px; position: absolute; top: 30px;">
                                <%= Math.floor(weather.temperature) %>ยบ
                              </h1>
                              <p style="font-size: 35px; position: absolute; bottom: 80px;">
                                <%= weather.city %>
                              </p>
                              <p style="font-size: 20px; position: absolute; bottom: 30px;">
                                <%= weather.description %>
                              </p>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>
      </div>
  </div>
  </div>
</body>



</html>