<!DOCTYPE html>
<html>
<head>
  <title>JSON Messages</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Simulator: Astronomic Events</h1>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Observatory</th>
        <th>Location</th>
        <th>Activity</th>
        <th>Urgency</th>
        <th>Title</th> <!-- Add a new column for "Title" -->
      </tr>
    </thead>
    <tbody>
      <% messages.forEach(function(message) { %>
        <tr>
          <td><%= message.time %></td>
          <td><%= message.observatory %></td>
          <td>RA: <%= message.location.RA %>, DEC: <%= message.location.DEC %></td>
          <td><%= message.activity %></td>
          <td><%= message.urgency %></td>
          <td><%= message.title %></td> <!-- Display the "Title" value -->
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
